

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.mb10 {
    margin-bottom: 10px;
}

.error {
    color: red;
    font-style: italic;
    font-size: 1.2em;
}














